.container {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}
