
  .spacer {
    flex: 1 1 auto;
  }
  
  .example-container{
    text-align: center
}

.form-container{
    width: 400px; 
    margin: 0px auto; 
    margin-top: 20px
}

.form-field{
    display: block
}